<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>제 목</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
       <!-- Full calendar -->
      <link href='fullcalendar/core/main.css' rel='stylesheet' />
      <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
      <link href='fullcalendar/timegrid/main.css' rel='stylesheet' />
      <link href='fullcalendar/list/main.css' rel='stylesheet' />

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
      <script src="http://code.jquery.com/jquery-latest.js"></script>
<style type="text/css">
	td,th,table,tr{border: 1px solid #dee2e6; text-align: center;}
	
	.no-wrap {width:100%; overflow-y:scroll; overflow-x:scroll;  white-space:nowrap; border-collapse:collapse}
   .no-wrapt {white-space:nowrap;border-collapse:collapse}

.select {
      padding:3px;
      background-color: #f9fbe7;
   }
   
   .select>a {
      color:#ffffff;
      text-decoration: none;  /* 하이퍼링크 밑줄 제거 */
      font-weight:bold;    /* 글씨체 굵게 */
   }
</style>
<script type="text/javascript">
   $(document).ready(function() {
      $("#moinfo").show();  
      $("#questinfo").hide();
      $("#cinfo").hide();  
   })
   
   function disp_div(id,sub) {
      $(".info").each(function() {
         $(this).hide();
      })
      $(".sub").each(function() {
         $(this).removeClass("select");
      })
      $("#" + sub).addClass("select");
      $("#" + id).show();
   }
</script>

   </head>
   <body class="icon-with-text">
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">

         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div class="iq-sidebar sidebar-dark-blue">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href="main.html">
               <img src="images/AIDO-OMR_WHITE.png" width="90%" height="90%" class="img-fluid" alt="">
               </a>
            </div>
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li>
                        <a href="OMR_REG.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>OMR 관리</span></a>
                     </li>
                     <li>
                        <a href="MOCK_ADM.html" class="iq-waves-effect"><i class="ri-home-3-line"></i><span>모의고사 관리</span></a>
                     </li>
                     <li>
                        <a href="OMR_RECOG.html" class="iq-waves-effect"><i class="ri-menu-3-line"></i><span>OMR 인식</span></a>
                     </li>
                     <li>  
                        <a href="OMR_GRDG.html" class="iq-waves-effect"><i class="ri-pencil-ruler-line"></i><span>OMR 채점</span></a>
                     </li> 
                     <li>  
                        <a href="OCR_MOCK_ADM.html" class="iq-waves-effect"><i class="ri-profile-line"></i><span>OCR 모의고사 관리</span></a>
                     </li> 
                     <li>  
                        <a href="OCR_TYPE_ADM.html" class="iq-waves-effect"><i class="ri-grid-line"></i><span>OCR 유형 관리</span></a>
                     </li> 
                     <li>  
                        <a href="BSTOR_RC_REG.html" class="iq-waves-effect"><i class="ri-stack-line"></i><span>지점 성적표 등록</span></a>
                     </li> 
                  </ul>
               </nav>
               <div class="p-3"></div>
            </div>
         </div>
         <!-- Sidebar END -->
         <!-- TOP Nav Bar -->
         <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
               <div class="iq-sidebar-logo">
                  <div class="top-logo">
                     <a href="main.html" class="logo">
                     <img src="images/exomr.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
               </div>
               <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="navbar-left">
                  
                  <div class="iq-search-bar">
                     
                  </div>
               </div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                  <i class="ri-menu-3-line"></i>
                  </button>
                  <div class="iq-menu-bt align-self-center">
                     <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                        <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                     </div>
                  </div>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav ml-auto navbar-list">
                        
                        <li class="nav-item">
                           <a href="#" class="search-toggle iq-waves-effect">
                              <div id="lottie-beil"></div>
                              <span class="bg-danger dots"></span>
                           </a>
                           <div class="iq-sub-dropdown">
                              <div class="iq-card shadow-none m-0">
                                 <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                       <h5 class="mb-0 text-white">알림<small class="badge  badge-light float-right pt-1">4</small></h5>
                                    </div>

                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">모의고사 A - 국어 채점이 완료 되었습니다.</h6>
                                             <small class="float-right font-size-12">Just Now</small>
                                             <p class="mb-0">95 MB</p>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">모의고사 A -수학 채점이 완료 되었습니다.</h6>
                                             <small class="float-right font-size-12">Just Now</small>
                                             <p class="mb-0">95 MB</p>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">모의고사 A - 영어 채점이 완료 되었습니다.</h6>
                                             <small class="float-right font-size-12">Just Now</small>
                                             <p class="mb-0">95 MB</p>
                                          </div>
                                       </div>
                                    </a>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">모의고사 A - 생물1 채점이 완료 되었습니다.</h6>
                                             <small class="float-right font-size-12">Just Now</small>
                                             <p class="mb-0">95 MB</p>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="nav-item dropdown">
                           <a href="MAIN-INQR.html" class="search-toggle iq-waves-effect">
                             <div id="lottie-mail"></div>
                              <span class="bg-primary count-mail"></span>
                           </a>
                           <div class="iq-sub-dropdown">
                              <div class="iq-card shadow-none m-0">
                                 <div class="iq-card-body p-0 ">
                                    <div class="bg-primary p-3">
                                       <h5 class="mb-0 text-white">문의<small class="badge  badge-light float-right pt-1">5</small></h5>
                                    </div>
                                    <a href="#" class="iq-sub-card" >
                                       <div class="media align-items-center">
                                          <div class="">
                                             <img class="avatar-40 rounded" src="images/user/05.jpg" alt="">
                                          </div>
                                          <div class="media-body ml-3">
                                             <h6 class="mb-0 ">EDU-AI</h6>
                                             <small class="float-left font-size-12">23 Oct</small>
                                          </div>
                                       </div>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <ul class="navbar-list">
                      <li>
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center bg-primary rounded">
                           <img src="images/user/1.jpg" class="img-fluid rounded mr-3" alt="user">
                           <div class="caption">
                              <h6 class="mb-0 line-height text-white">홍길동</h6>
                              <span class="font-size-12 text-white">이투스 강남점</span>
                           </div>
                        </a>
                        <div class="iq-sub-dropdown iq-user-dropdown">
                           <div class="iq-card shadow-none m-0">
                              <div class="iq-card-body p-0 ">
                                 <div class="bg-primary p-3">
                                    <h5 class="mb-0 text-white line-height">홍길동</h5>
                                    <span class="text-white font-size-12">이투스 강남점</span>
                                 </div>
                                 
                                 <a href="MAIN-INI_ADM.html" class="iq-sub-card iq-bg-primary-hover">
                                    <div class="media align-items-center">
                                       <div class="rounded iq-card-icon iq-bg-primary">
                                          <i class="ri-lock-line"></i>
                                       </div>
                                       <div class="media-body ml-3">
                                          <h6 class="mb-0 ">사용자 정보 수정</h6>
                                          <p class="mb-0 font-size-12">비밀번호 등을 변경 할 수 있습니다.</p>
                                       </div>
                                    </div>
                                 </a>
                                 <div class="d-inline-block w-100 text-center p-3">
                                    <a class="bg-primary iq-sign-btn" href="LOGIN.html" role="button">로그아웃<i class="ri-login-box-line ml-2"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </nav>
               

            </div>
         </div>
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row row-eq-height">
                  <div class="col-md-12">
                        <div style="width : 100%; height: 100%;">
                           <div class="iq-card iq-border-radius-20" style="height: 48%;" align="center">
                              <div style="height: 5%; padding-top: 1%; padding-left: 2%; padding-bottom: 2" align="left">
                                 <h4 ><b>모의고사 _ 과목 선택 </b></h4>
                              </div>
                              <div style="width: 95%; height: 87%; padding-top: 2%">
                                 <div class="iq-card no-wrap" style="width: 100%; height: 100%;" >
                                    <div class="iq-card-body" style="width: 100%; height: 100%;" >
                                       <div class="iq-todo-page no-wrap" style="height: 95%;">
                                          <form class="position-relative">
                                             <div class="form-group mb-0">
                                                <input type="text" class="form-control todo-search" id="exampleInputEmail002"  placeholder="Search">
                                                <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                              					</div>
                              					<br>
                           					</form>
                           					<div>
                           						<table style="width: 100%; text-align: center;" class="table no-wrapt">
                           							<tr>
                           								<th>지점</th>
                           								<th>모의고사</th>
                           								<th>학년</th>
                           								<th>과목</th>
                           								<th>오류 카드 수</th>
                           								<th>채점</th>
                           								<th>평균점수</th>
                           							</tr>
                           							<tr id="sub1" class="sub" onclick="javascript:disp_div('moinfo','sub1')">
                           								<td>종로점</td>
                           								<td>평가원 6월</td>
                           								<td>고1</td>
                           								<td>국어</td>
                           								<td>0</td>
                           								<td><button class="btn bg_01 btn btn-primary mb-3">채점</button> </td>
                           								<td>75</td>
                           							</tr>
                           							<tr id="sub2"  class="sub" onclick="javascript:disp_div('questinfo','sub2')">
                           								<td>종로점</td>
                           								<td>평가원 6월</td>
                           								<td>고1</td>
                           								<td>수학</td>
                           								<td>0</td>
                           								<td><button class="btn bg_01 btn btn-primary mb-3">중지</button> </td>
                           								<td>-</td>
                           							</tr>
                           							<tr id="sub3" class="sub"  onclick="javascript:disp_div('cinfo','sub3')">
                           								<td>종로점</td>
                           								<td>평가원 6월</td>
                           								<td>고1</td>
                           								<td>한국사</td>
                           								<td>2</td>
                           								<td><button class="btn bg_01 btn btn-primary mb-3" disabled="disabled">채점</button> </td>
                           								<td>-</td>
                           							</tr>
                                             </table>
                                             <div class="row">
                                 <div style="width: 40%">
                                    한 화면에 볼 글 갯수 
                                    <span><select>
                                       <option>5</option>
                                       <option>10</option>
                                       <option>15</option>
                                    </select>
                                    </span>
                                 </div>
                                 <div style="width: 30%">
                                    1 ~ 5번 글 13개의 글                                          
                                 </div>
                                 <div style="width: 25%">
                                    <a class="iq-icons-list" href="#" ><i class="las la-angle-left"></i></a>
                                    <a class="iq-icons-list" href="#" ><i class="las la-angle-right"></i></a>
                                 </div>
                              </div> 
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row" style="height: 49%">
                              <div style="width: 49%; margin-left: 1%; height: 100%">
                              	<div class="iq-card iq-border-radius-20" align="center" style="height: 100%;">
                                       <div style="height: 8%; padding-top: 2%; padding-left: 2%; padding-bottom: 2" align="left">
                                          <div class="row" style="width: 95%" align="center">
                                             <div style="width: 50%; margin-left: 5%;" align="left"><h4><b>인식 정보 확인</b></h4></div>
                                             <div style="width: 45%" align="right">
                                                <span><button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#deleteModal">삭제</button></span>
                                                <span><button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#saveModal">저장</button></span>
                                             </div>
                                          </div>
                                          
                                    

                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document" style="height: 200px">
                                       <div class="iq-card iq-border-radius-20 white" style="height: 100%">
                                          <div style="height: 100%">
                                             <div style="height: 10%;">
                                             </div>
                                             <div align="center" style="height: 40%; margin-top: 5%;">
                                                <h4>삭제하시겠습니까?</h4>
                                             </div>
                                             <div align="center" style="height: 30%">
                                                <div class="row">
                                                   <div style="width: 50%;">
                                                      <button type="button" class="btn btn-primary"style="width: 60%;"><h4 style="color: white;"><b>예</b></h4></button>
                                                   </div>
                                                   <div align="right" style="width: 40%; ">
                                                      <button type="button" class="btn iq-bg-danger" style="width: 75%;" data-dismiss="modal"><h4 style="color: #f36157;"><b>아니요</b></h4></button>
                                                   </div>
                                                </div>
                                             </div>
                                             <div style="height: 20%;">
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>

                                 
                                    

                                    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document" style="height: 200px">
                                       <div class="iq-card iq-border-radius-20 white" style="height: 100%">
                                          <div style="height: 100%">
                                             <div style="height: 10%;">
                                             </div>
                                             <div align="center" style="height: 40%; margin-top: 5%;">
                                                <h4>저장하시겠습니까?</h4>
                                             </div>
                                             <div align="center" style="height: 30%">
                                                <div class="row">
                                                   <div style="width: 50%;">
                                                      <button type="button" class="btn btn-primary"style="width: 60%;"><h4 style="color: white;"><b>예</b></h4></button>
                                                   </div>
                                                   <div align="right" style="width: 40%; ">
                                                      <button type="button" class="btn iq-bg-danger" style="width: 75%;" data-dismiss="modal"><h4 style="color: #f36157;"><b>아니요</b></h4></button>
                                                   </div>
                                                </div>
                                             </div>
                                             <div style="height: 20%;">
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                       </div>   
                                       <div style="height: 90%; padding-top: 2%;">
                                          <div class="iq-card" style="width: 95%; height: 100%;" >
                                             <div class="iq-card-body" style="width: 100%; height: 100%;" >
                                                <div class="iq-todo-page" style="height: 100%;">
                                                   <div style="height: 100%;" class="no-wrap">
                                                      <table class="table no-wrapt" style="height: 100%;">
                                                         <tr>
                                                            <th><input type="checkbox"></th><th>수험번호</th><th>성명</th><th>점수</th>
                                                            <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
                                                            <th>6</th><th>7</th><th>8</th><th>9</th><th>10</th>
                                                            <th>11</th><th>12</th><th>13</th><th>14</th><th>15</th>
                                                            <th>16</th><th>17</th><th>18</th><th>19</th><th>20</th>
                                                            <th>21</th><th>22</th><th>23</th><th>24</th><th>25</th>
                                                            <th>26</th><th>27</th><th>28</th><th>29</th><th>30</th>
                                                            <th>31</th><th>32</th><th>33</th><th>34</th><th>35</th>
                                                            <th>36</th><th>37</th><th>38</th><th>39</th><th>40</th>
                                                            <th>41</th><th>42</th><th>43</th><th>44</th><th>45</th>
                                                            <th>46</th><th>47</th><th>48</th><th>49</th><th>50</th>
                                                         </tr>
                                                         <tr>
                                                            <td><input type="checkbox" ></td><td contenteditable="true" style="background-color: #fcf2f1">wer!@#</td><td contenteditable="true">김**</td><td contenteditable="true">87</td>
                                                            <td contenteditable="true">1</td><td contenteditable="true">2</td><td contenteditable="true">3</td><td contenteditable="true">2</td><td contenteditable="true">5</td>
                                                            <td contenteditable="true">3</td><td contenteditable="true" style="color: red">5</td><td contenteditable="true">3</td><td contenteditable="true">2</td><td contenteditable="true">3</td>
                                                            <td contenteditable="true">4</td><td contenteditable="true">1</td><td contenteditable="true">3</td><td contenteditable="true">4</td><td contenteditable="true">2</td>
                                                            <td contenteditable="true">5</td><td contenteditable="true">3</td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                         </tr>
                                                         <tr>
                                                            <td><input type="checkbox" ></td><td contenteditable="true">456#$%</td><td contenteditable="true">우**</td><td contenteditable="true">99</td>
                                                            <td contenteditable="true" style="color: red">3</td><td contenteditable="true">5</td><td contenteditable="true">3</td><td contenteditable="true">3</td><td contenteditable="true">3</td>
                                                            <td contenteditable="true" style="background-color: #fcf2f1"></td><td contenteditable="true" style="background-color: #fcf2f1"></td><td contenteditable="true" style="background-color: #fcf2f1"></td><td contenteditable="true" style="background-color: #fcf2f1"></td><td contenteditable="true" style="background-color: #fcf2f1">24134</td>
                                                            <td contenteditable="true">3</td><td contenteditable="true">5</td><td contenteditable="true">3</td><td contenteditable="true">2</td><td contenteditable="true">3</td>
                                                            <td contenteditable="true">3</td><td contenteditable="true">5</td><td contenteditable="true">3</td><td contenteditable="true">2</td><td contenteditable="true">3</td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                         </tr>
                                                         <tr>
                                                            <td><input type="checkbox" ></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                         </tr><tr>
                                                            <td><input type="checkbox" ></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                         </tr><tr>
                                                            <td><input type="checkbox" ></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                         </tr><tr>
                                                            <td><input type="checkbox" ></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                         </tr><tr>
                                                            <td><input type="checkbox" ></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                            <td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td><td contenteditable="true"></td>
                                                         </tr>
                                                      </table>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                               </div>
                               <div style="width: 48%; margin-left: 1%; height: 100%;">
                                 <div class="iq-card iq-border-radius-20 " style="height: 100%; padding-top: 1%;" align="center">
                                    <div style="height: 8%; padding-top: 2%; padding-left: 2%; padding-bottom: 2" align="left">
                                       <h4 ><b>OMR 상세 정보 확인</b></h4>
                                    </div>
                                    <div style="height: 87%; padding-top: 1%" >
                                    	<div class="iq-card" style="width: 95%; height: 100%;" >
                                       	  <div class="iq-card-body" style="width: 100%; height: 100%;" >
                                            <div class="iq-todo-page" style="height: 100%;">
                                              <div class="no-wrap" style="height: 90%;">
                                                <img src="images/exomr.jpg">
                                              </div>
                                            </div>
                                           </div>
                                         </div>
                                     </div>
                                 </div>
                              </div>
                                 
                            </div>
                              
                           </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>               	
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <footer class="bg-white iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                     <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
                  Copyright 2020 <a href="#">Vito</a> All Rights Reserved.
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="js/waypoints.min.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="js/lottie.js"></script>
      <!-- am core JavaScript -->
      <script src="js/core.js"></script>
      <!-- am charts JavaScript -->
      <script src="js/charts.js"></script>
      <!-- am animated JavaScript -->
      <script src="js/animated.js"></script>
      <!-- am kelly JavaScript -->
      <script src="js/kelly.js"></script>
      <!-- Flatpicker Js -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <!-- Chart Custom JavaScript -->
      <script src="js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="js/custom.js"></script>
   </body>
</html>
